.container {
    display: flex;
  }
  
  app-messenger-textbox {
    flex: 2;
    /* Messenger textbox styles */
  }
  
  app-messenger-sidebar {
    width: 200px;
    /* Messenger sidebar styles */
  }