p{
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: flex-end;
    margin-right: 16px;
}

.ghost-Icon{
    font-size: 128px;
}
.ghost-container{
    text-align: center;
    margin-bottom: 32px; // Add some spacing between elements
}
