.class-container {
    background-color: white;
    
}
.messages{
    font-family: Helvetica, Arial, sans-serif;
    background-color: white;
    padding: 8px;
    height: 120px;
    width: 330px;
    border-radius: 4px;
}