/* You can add global styles to this file, and also import other style files */
@import 'animations';

body{
    background-color: rgb(186, 124, 186);
}

h1{
    text-align: center;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 48px;
}
h2{
    text-align: center;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 72px;
    
}  
p{
    font-family: Helvetica, Arial, sans-serif;
}
.ghostIcon {
    animation: fadeIn 1s ease-in-out;
  }
  
  .login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; // Use the full viewport height
    font-family: Helvetica, Arial, sans-serif;
  }
  
  .element-container {
    text-align: center;
    margin-bottom: 1px; // Add some spacing between elements
  }